<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Appliancentre_BookingForm::booking" 
             title="Book a Repair" 
             module="Appliancentre_BookingForm" 
             sortOrder="100" 
             resource="Appliancentre_BookingForm::booking"/>

        <add id="Appliancentre_BookingForm::manage_bookings" 
             title="Manage Bookings" 
             module="Appliancentre_BookingForm" 
             sortOrder="10" 
             parent="Appliancentre_BookingForm::booking" 
             action="appliancentre_bookingform/booking/index" 
             resource="Appliancentre_BookingForm::manage_bookings"/>

        <add id="Appliancentre_BookingForm::booking_grid" 
             title="Booking List" 
             module="Appliancentre_BookingForm" 
             sortOrder="20" 
             parent="Appliancentre_BookingForm::booking" 
             action="appliancentre_bookingform/booking/grid" 
             resource="Appliancentre_BookingForm::booking_grid"/>
    </menu>
</config>