<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Appliancentre\BookingForm\Model\Booking">
        <arguments>
            <argument name="customerFactory" xsi:type="object">Magento\Customer\Model\CustomerFactory</argument>
            <argument name="accountManagement" xsi:type="object">Magento\Customer\Api\AccountManagementInterface</argument>
            <argument name="encryptor" xsi:type="object">Magento\Framework\Encryption\EncryptorInterface</argument>
        </arguments>
    </type>

    <!-- Add other dependency injections here if needed -->

    <preference for="Appliancentre\BookingForm\Api\BookingRepositoryInterface" type="Appliancentre\BookingForm\Model\BookingRepository" />
    <preference for="Appliancentre\BookingForm\Api\Data\BookingInterface" type="Appliancentre\BookingForm\Model\Booking" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="appliancentre_bookingform_booking_listing_data_source" xsi:type="string">Appliancentre\BookingForm\Model\ResourceModel\Booking\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Appliancentre\BookingForm\Model\ResourceModel\Booking\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">appliancentre_bookingform_booking</argument>
            <argument name="resourceModel" xsi:type="string">Appliancentre\BookingForm\Model\ResourceModel\Booking</argument>
        </arguments>
    </virtualType>
</config>